*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
    color: #fff;
}
.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom:100px;
}

.box{
    width: 300px;
    height: 300px;
    background: rgb(57,72,129);
    background: linear-gradient(52deg, rgba(255,0,0,1) 0%, rgba(27,205,119,1) 46%, rgba(73,76,210,1) 100%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

}